body {
    background-color: white;
    margin: 0;
}


/* nav */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background-color: transparent;
    top: 0;
}

nav ul{
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 8px;
    margin-inline: 16px;
    margin-block: 0;
}

nav ul .active {
    background-color: #004aad;
}

nav ul li {
    display: flex;
    padding-inline: 8px;
    height: 50px;
}


nav ul li a{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    align-self: center;
}

nav ul li:hover {
    background-color: #004aad;
    transition: all .6s;
}

.logo {
    height: 40px;
    margin: 5px 10px;
}

.menu {
    display: none;
    height: 35px;
    margin: 7.5px 16px;
    cursor: pointer;
}

.adm {
    color: white;
    background-color: #004aad;
    border-radius: 30px;
    width: 50px;
    height: 30px;
    border: none;    
    cursor: pointer;
}

.container{
    width: 50vw;
    height: 100%;
    margin-top: 2%;
}

.titulo{
    width: 100%;
    height: 100%;
    background-color: #004aad;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-left: 50%;
    margin-right: 50%;
}

h1{
    font-size: 25px;
    color: white;
}   

@media (max-width: 640px){
    nav ul {
        display: block;
        position: absolute;
        background-color: #dadada;
        height: 100vh;
        width: 160px;
        margin: 50px 0 0 0;
        padding: 0;
        right: -160px;
        transition: all .8s;
    }

    nav ul li {
        justify-content: end;
    }

    nav ul li a{
        color: black;
    }

    .menu {
        display: block;
    }
}

/* cards */


.container-card {
    max-width: 100%;        
    margin-top: 1.5vw;
    background-color: rgb(172, 171, 171);
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 20px;
}

.card {
    border-radius: 15px;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 1vw;
    flex: 1 1 150px;
    margin: 5px;
}


.editar {
    width: 100%;
    font-size: 20px;
    background-color: #7ed957;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 6vw;
}

.remover {
    width: 100%;
    font-size: 20px;
    background-color: #d95757;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 1vw;
}

.adicionar {
    width: 15vw;
    height: 8vh;
    font-size: 20px;
    background-color: #004aad;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 1vw;
    float: right;
    margin-right: 3%;
}
 
.titulo-card{
    font-size: 1.3vw;
}

